@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:5px; padding:5px;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
    padding-left: 1.5%;
    padding-right: 2%;




}


html{

    overflow-x: hidden;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

.image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.frontend{
    margin-bottom: 15px;
}
.card {
    width: 350px; /* Adjust the width as needed */
    padding: 20px;
    margin: 0 auto; /* Center horizontally using margin */
    text-align: center; /* Center text content horizontally */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    border: 1px solid #ccc; /* Optional border for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional box shadow */
    background-color: #fff; /* Optional background color */
}
