@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:5px; padding:5px;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}


html{

    overflow-x: hidden;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

.image{
    height: 500px;
    width: 500px;
}